In [1]:
'''q1. 1 you are working in a bank and you have been given two list of the employees who worked in 
2021 employees name is list 1 are Ramesh,Suresg,Mahesh,Ali,Jacob,and Saritha.please write a 
programme which helps to identify people who are common in both lists.please do not use any in built function
'''
l1 = ['mahesh','suresh','ramesh','ali','jacob','saritha']
l2 = ['ali','mukesh','mahesh','jacob','sai','sarita']
l3 = []
for i in l1:
    if i in l2:
        l3.append(i)
print(l3)

['mahesh', 'ali', 'jacob']

In [ ]:
'''q2.while entering data someone entered a few names as common string "RameshSureshMohit"
please write a programme which separates all the names and convert them into a list.once converted
in a list.please write a programme which adds their age'''

n = 'ramesh suresh mohit'
n.split()
s = {'ramesh':25 ,'suresh':22 ,'mohit':26}

In [8]:
'''q3.A few student from university have taken three exams
Name = Sam,Jacy,Tom,Steve
Python = 25,26,29,28
statistics = 23,21,19,25
SQL = 29,27,28,25
write a programme which calculates mean values of all three tests and print the highest mean value
.Addition and other functions are allowed.please also report who scored the highest mark in python
using programming constructs'''

import numpy as np
python = 25,26,29,28
py = np.average(python)
stats = 23,21,19,25
st = np.average(stats)
sql = 29,27,28,25
sq = np.average(sql)

In [10]:
py

27.0

In [12]:
st

22.0

In [13]:
sq

27.25

In [14]:
a = 27.0,22.0,27.25
max(a)

27.25

In [15]:
sum(a)

76.25

In [20]:
  max(python)

29

In [25]:
sam,jacy,tom,steve =25,26,29,28

In [23]:
tom

29

In [27]:
'''q4.you are working in a mdicine store.a patient came to your medical store and asked to buy
2 strips of paracetamol,3 strips of azithromycin and 5 strips of vitamin c.one strip of paracetamol
costs Rs 35,one strip of azithromycin costs Rs.49 and one strip of vitamin c costs Rs.33.patient 
gave you Rs 2000 .please tell is total cost of each medicine ,total costs of all medicineand how 
much money you refunded to the patient?'''
para=  2*35
azith= 3*49
vita = 5*33
total=para+azith+vita
left_amount = 2000-total

In [29]:
para
azith
vita
total
left_amount

1618

In [30]:
para

70

In [31]:
azith

147

In [32]:
vita

165

In [33]:
total

382

In [34]:
'''Q5.Accept a sentence as ainput and find the number of vowels in it.Assume that sentence has no
punctuation marks.for example: i am learning python contain 6 vowels this function should be applicable
for all other different sentences'''

s = input('enter your sentence: ')
v = 'AaeEIiOoUu'
l5 = []
for i in s:
    if i in v:
        l5.append(i)
        len(l5)
        
print(l5,len(l5) ,'vowels')

enter your sentence: i am going
['i', 'a', 'o', 'i'] 4 vowels

In [35]:
'''Q6.you have been appointed by election commision to create website.your first task is to work
on a programme which tells candidates if they are eligible for voting or not if they are eligible
your output should be congrats you are eligible otherwise it should tell that you have to return
after x number of years .Eligibility criteria for voting is 18 years''' 

age = int(input('enter your age'))
if age >= 18:
    print('congrats,you are eligible for voting')
if age < 18:
    c = 18
    ret = c-age
    print('return after',   ret ,'years' )

enter your age12
return after 6 years